
    .btnredondo {
      display: block;
      width: 600px;
      height: 600px;
      border-radius: 50%;
      border-color: gray;
      color: gray;
      font-size: 400%;
      background-color: white;
    }
.btnredondoempezar {
      display: block;
      width: 100px;
      height: 100px;
      border-radius: 10%;
      border-color: gray;
      color: gray;
      font-size: 250%;
      background-color: white;
    }
      .contenedor {
        height: 100vh;
        
       
        
        display: flex;
        
        justify-content: top;
        
        align-items: center;
       
        flex-direction: column;
       
      }
.restoClass{
font-size:150%;
color:gray;
}
#contenedorcronometro{
	margin: 10px auto;
	width: 540px;
	height: 115px;
}
.reloj{
	float: left;
	font-size: 80px;
	font-family: Courier,sans-serif;
	color: #363431;
}
.empezardenuevoclass{
  display: flex;
  justify-content: right;
  align-items: right;
 
}
.cabecera{
  display: flex;

}